@import "modern-normalize";
@import "reset.css";
@import "base.css";


.btn {
  display: inline-block;
  background: #3b82f6;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #2563eb;
}
